/*
 * Contact form styling.
 */

.contact-form-wrapper {
    // border: 1px solid red;
    padding-top: 13px;
    // make a nice border with shadow here
}

.contact-header {
    display: flex;
    padding-left: 33px;
    font-size: 24px;
    font-weight: bold;
}

.contact-footer {
   display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-style: italic;
}

.contact-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: left;
    padding: 10px;
}

.col-form-label {
    font-size: 18px;
}

.form-control {
    width: 60%;
    font-size: 18px;
    background-color: transparent;
    border-radius: 5px;
    padding: 5px 10px;
    color: #4D4D4D;
    border: 1px solid rgba(77,77,77,55%)
}

.action-buttons {
    display: flex;
    // align-items: center;
    // justify-content: center;
    padding: 10px;
    padding-left: 33px;
}

.btn-primary {
    background-color: #0077b8;
    color: #fff;
    display: inline-flex;
    padding: 0.5rem 1.5rem;
    text-transform: uppercase;
    border: 1px solid #0077b8;
    border-radius: 1.5rem;
    font-size: 0.9rem;
    align-items: center;
    user-select: none;
    font-weight: bold;
}
